.App {
  text-align: center;
}

.box {
  background: red;
  height: 100%;
}

img {
  height: 5em;
}

.images-contact {
  padding-top: 1.5em;
  display:flex;
  justify-content: center;
}

.arrow {
  text-align: center;
  padding-top: 10em;
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.arrow-projects {
  padding-top: 1em;
  padding-bottom: 1em;
  display:flex;
  justify-content: center;
}

/* -------------- home */
.home-container {
  padding-top: 4em;
}

.home-title {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  padding-top: 0.5em;
}

.home-intro {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  padding-top: 1em;
}

.fullstack {
  font-weight: bold;
}

.hello-header {
  font-size: 3em;
  font-size: 2em;
  text-align: center;
  padding-top: 5em;
}

.projects-page-github {
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
  color: antiquewhite;
}

.name-header {
  color:  rgba(161, 202, 46, 0.678);
  font-size: 5em;
  font-weight: 500;
  text-align: center;
}

/* -------------- projects */
.projects-container {
  background-color: rgb(25,26,30,255);
}

.name-header-projects {
  color: rgba(230, 230, 230, 0.897);
  font-size: 5em;
  font-weight: 500;
  text-align: center;
  padding-bottom: 0.5em;
}

.image-project-page {
  display:flex;
  justify-content: center;
}

/* -------------- about */
.name-header-about {
  color: rgba(230, 230, 230, 0.897);
  font-size: 5em;
  font-weight: 500;
  text-align: center;
  padding-bottom: 1em;
}

.profile-pic {
  display:flex;
  justify-content: center;
  height: 28em;
}

.text-about-me {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  padding-top: 0.5em;
  color: antiquewhite;
}

img:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 5px 5px 5px #888888;
}

.hompepage-header {
  text-align: left;
}

/* -------------- footer */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

#footer-container {
  position: absolute; 
  bottom: 0;
}

.footer-distributed {
  background-color: rgba(25,26,30,255);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 10px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  /* float: right; */
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/* -------------- progress bar */
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--green);
  transform-origin: 0%;
  z-index: 10;
}

body {

  --green:  rgba(161, 202, 46, 0.678);
  padding-bottom: 20px;
}

