.App {
  text-align: center;
}

.box {
  background: red;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  height: 1200px;
  justify-content: space-evenly;
  background-color: rgb(102, 94, 175);
}

.flex-container > div {
  background-color: rgb(5, 1, 42);
  width: 700px;
  margin: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  color: whitesmoke;
}

.grid-container {
  display: grid;
  grid-template-columns: 
  auto auto auto;
  background-color: rgb(5, 1, 42);
}

.grid-container > div {
  background-color: rgb(5, 1, 42);
  text-align: center;
  align-content: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / 1;
}

.item2 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  padding-top: 0.5em;
}

.item3 {
  font-size: 2em;
  font-weight: 200;
  text-align: center;
  padding-top: 1em;
}

.item-pic1 {
  position: relative;
}

.item-pic2 {
  grid-column: 4 / 5;
  position: relative;

}

.item-pic3 {
  grid-column: 6 / 7;
  position: relative;
}

.hello-header {
  font-size: 3em;
  font-size: 2em;
  text-align: center;
  padding-top: 2.5em;
}

.projects-page-github {
  font-size: 3em;
  font-size: 2em;
  text-align: center;
  padding-top: 1em;
  color: antiquewhite;
  padding-bottom: 1em;
}

.name-header {
  color: rgb(190, 210, 9);
  font-size: 5em;
  font-weight: 500;
  text-align: center;
}

.name-header-projects {
  color: rgba(175, 192, 19, 0.888);
  font-size: 5em;
  font-weight: 500;
  text-align: center;
}

img {
  height: 5em;
}

.image {
  padding-top: 3em;
  display:flex;
  justify-content: center;
}

.fullstack {
  font-weight: bold;
}

.image-project-page {
  display:flex;
  justify-content: center;
}

.projects-container {
  /* background-color: rgb(46, 46, 46); */
}

/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: rgb(40, 49, 75); */
  background-color: rgba(55, 56, 58, 0.734);
}

li {
  float: right;
}

li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover {
  background-color: rgb(162, 26, 26);
  color: rgb(211, 111, 111);
}

img:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 5px 5px 5px #888888;
}

.hompepage-header {
  text-align: left;
}
