.App {
  text-align: center;
}

.box {
  background: red;
  height: 100%;
}

img {
  height: 5em;
}

.images-contact {
  padding-top: 1.5em;
  display:flex;
  justify-content: center;
}

.arrow {
  padding-top: 3em;
  display:flex;
  justify-content: center;
}

.arrow-projects {
  padding-top: 1em;
  padding-bottom: 1em;
  display:flex;
  justify-content: center;
}

/* -------------- home */
.home-container {
  padding-top: 4em;
}

.home-title {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  padding-top: 0.5em;
}

.home-intro {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  padding-top: 1em;
}

.fullstack {
  font-weight: bold;
}

.hello-header {
  font-size: 3em;
  font-size: 2em;
  text-align: center;
  padding-top: 3em;
}

.projects-page-github {
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
  color: antiquewhite;
}

.name-header {
  color: rgba(116, 162, 41, 0.74);
  font-size: 5em;
  font-weight: 500;
  text-align: center;
}

/* -------------- projects */
.projects-container {
  background-color: rgb(25,26,30,255);
}

.name-header-projects {
  color: rgba(116, 162, 41, 0.74);
  font-size: 5em;
  font-weight: 500;
  text-align: center;
  padding-bottom: 0.5em;
}

.image-project-page {
  display:flex;
  justify-content: center;
}

/* -------------- about */
.name-header-about {
  color: rgba(116, 162, 41, 0.74);
  font-size: 5em;
  font-weight: 500;
  text-align: center;
  padding-bottom: 1em;
}

.profile-pic {
  display:flex;
  justify-content: center;
  height: 28em;
}

.text-about-me {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  padding-top: 0.5em;
  color: antiquewhite;
}

/* -------------- navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: rgb(40, 49, 75); */
  background-color: rgba(55, 56, 58, 0.734);
}

li {
  float: right;
}

li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover {
  background-color: rgb(162, 26, 26);
  color: rgb(211, 111, 111);
}

img:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 5px 5px 5px #888888;
}

.hompepage-header {
  text-align: left;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

body {

  --red: #ff9900;

  --background: var(--white);
  --accent: var(--black);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
  padding-bottom: 20px;
}

