body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: rgba(25,26,30,255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg-homepage {
  /* The image used */
  background-image: url("C:\Users\RDIRKX87\source\repos\react-portfolio\react-portfolio-app\src\bw_bg.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-projects {
  background-color: rgba(25,26,30,255);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-about {
  background-color: rgba(25,26,30,255);

  /* Full height */
  height: 100vh;
}

.bg-about-2 {
  background: linear-gradient(90deg, rgb(158, 158, 158) 10%, rgb(205, 208, 205) 95%);
}

.bg-about-footer {
  background-color: rgba(25,26,30,255)
}

.footer{
  position: sticky;
  top: 100%;
}
